# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
.env
.venv/

# Application files
instance/
uploads/

# SQLite
*.sqlite3
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
